@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.header {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
}

.text {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.text-sm {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

@media screen and (min-width: 768px){
  .header {
    font-size: 1.8rem;
  }
  .text {
    font-size: 1.4rem;
  }
  .text-sm {
    font-size: 1.2rem;
  }
}
